<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <div>
          <form action="/create" method="GET">
            <button type="submit" class="edit-btn">
              <i class="fas fa-plus"></i>
              <span>新增餐廳</span>
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div class="banner"></div>
  </header>
  {{{ body }}}

  <footer>
    <div class="footer m-3 p-3 bg-light align-item-center">
      <div class="row align-items-center justify-content-between" style="width: 100%;">

        <div class="align-items-center">
          <a href="https://github.com/Ace1862020/Restaurant-list-remote" class="mr-4"
            style="color: rgb(148, 148, 148);">
            My Restaurant List project</a>
        </div>

        <div class="align-items-center">
          <a class="ml-2" href="https://github.com/Ace1862020"><i class="fab fa-github fa-2x"
              style="color:grey"></i></a>
        </div>

        <div class="align-items-center">
          <span> 2020 </span>
        </div>

      </div>
    </div>
  </footer>

  <!-- include javascript files here -->
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>