<div class="container">
  <div class="row">
    <dev class="create-form">
      <form action="/create/new" method="POST">

        <div>
          <label for="name" class="form-label">Restaurant Name</label>
          <input type="text" id="name" name="name" placeholder="餐廳名稱">
        </div>

        <button type="submit">Create</button>

      </form>
    </dev>
  </div>
</div>